{% extends "layout.html" %}

{% block title %}
    Delete
{% endblock %}

{% block main %}
    <form action="/delete" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="game" name="game" placeholder="Delete Game" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="platform" name="platform" placeholder="Platform" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Delete</button>
    </form>
{% endblock %}