{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Price</th>
                <th>Shares</th>
                <th>Total Cost</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction["symbol"] }}</td>
                <td>{{ transaction["name"] }}</td>
                <td>{{ transaction["price"]|usd }}</td>
                <td>{{ transaction["shares"] }}</td>
                <td>{{ transaction["shares"] * transaction["price"]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}