{% extends "layout.html" %}

{% block title %}
    List
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Game</th>
        <th scope="col">Platform</th>
        <th scope="col">Information</th>
      </tr>
    </thead>
    <tbody>
    {% for game in games %}
      <tr>
        <th scope="row">{{ game.id }}</th>
        <td>{{ game.game }}</td>
        <td>{{ game.platform }}</td>
        <td> <a href = "https://en.wikipedia.org/w/index.php?title=Special:Search&search={{ game.game }}"> Link </a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}